
.Grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2rem;
  padding: 1rem;
  height: 70vh;
} 


.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11 {
    background-color: #9BC1BC;
}

.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: #007F5F;
}

.item2 {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    background-color: #2B9348;
}

.item3 {
  grid-column: 3 / 5;
  grid-row: 1 / 7;
  background: #80B918;
}

.item4 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
    background-color: #DDDF00;
}

.item5 {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
    background-color: #EEEF20;
}

.item6 {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
    background-color: #FFFF3F;
}

.item7 {
    grid-column: 1 / 3;
    grid-row: 7 / 11;
    background-color: #55A630;
}

.item8 {
    grid-column: 3 / 4;
    grid-row: 9 / 11;
    background-color: #BFD200;
}

.item9 {
    grid-column: 6 / 8;
    grid-row: 7 / 11;
    background-color: #007F5F;
}

.item10 {
    grid-column: 3 / 4;
    grid-row: 7 / 9;
    background-color: #AACC00;
    
}

.item11 {
  grid-column: 4 / 6;
  grid-row: 7 / 11;
  background-color: #D4D700;
}

h1 {
    margin: 0;
    padding: 40px;
    background-color: #9BC1BC;
    text-decoration: normal;
    font-weight: bold;
    font-size: 64px;
    color: #000000;
}
